body {
    background-color: rgb(43, 42, 42);
    color: wheat;
}

p {
    margin-top: 0;
}

.frase {
    font-size: 2em;
}

.autor {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: right;
}

.posCr {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-right: 20vw;
    padding-left: 20vw;
}