body {
    background-color: rgb(43, 42, 42);
    color: wheat;
}

h1, h3 {
    color: whitesmoke;
}

h3 {
    margin-bottom: 2px;
}

input, label {
    display: block;
}

input {
    color: wheat;
    background-color: rgb(73, 71, 71);
}

button {
    margin-top: 10px;
}

p {
    margin-top: 0;
}